---
// Fundations
import BaseLayout from "@/layouts/BaseLayout.astro";
import Text from "@/components/fundations/elements/Text.astro";
import Wrapper from "@/components/fundations/containers/Wrapper.astro";
// Subscirbe form
import Subscribe from "@/components/forms/Subscribe.astro";
// Blog entries
import HighlightsTwo from "@/components/blog/HighlightsTwo.astro";
import EntriesOne from "@/components/blog/EntriesOne.astro";
// Components
import HeroTwo from "@/components/blogHeros/HeroTwo.astro";
import Divider from "@/components/assets/Divider.astro";
// Get all posts
import { getCollection } from "astro:content";
const allPosts = await getCollection("posts");
allPosts.sort((a, b) => {
  const dateA = new Date(a.data.pubDate).getTime(); // Convert to timestamp
  const dateB = new Date(b.data.pubDate).getTime(); // Convert to timestamp
  return dateB - dateA; // Compare timestamps
});
---

<BaseLayout>
  <HeroTwo />
  <section>
    <Wrapper variant="standard" class="pt-32 pb-12">
      <div class="relative pb-2">
        <Text tag="h3" variant="display6XL" class="text-white font-display"
          >Viginettes</Text
        >
        <Divider />
      </div>
      <div
        class="grid grid-cols-1 gap-4 mt-4 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4"
      >
        {allPosts.slice(2, 10).map((post) => <EntriesOne post={post} />)}
      </div>
    </Wrapper>
  </section>
  <Subscribe />
  
</BaseLayout>
