<section
  class="relative overflow-hidden 2xl:max-w-7xl mx-auto 2xl:border-x border-zinc-900">
  <svg
    class="absolute"
    viewBox="0 0 2460 2397"
    fill="none"
    xmlns="http://www.w3.org/2000/svg">
    <g filter="url(#filter0_f_105_3973)">
      <path
        d="M1237.51 1912.37C1445.49 1856.64 1627.73 1764.6 1753.75 1656.32C1873.75 1553.23 1969.96 1409.4 1928.99 1256.53C1888.03 1103.65 1732.8 1027.2 1577.33 997.913C1414.06 967.153 1210.21 978.565 1002.23 1034.29C794.238 1090.03 611.998 1182.06 485.977 1290.34C365.986 1393.44 269.776 1537.26 310.739 1690.14C351.703 1843.01 506.935 1919.46 662.397 1948.75C825.673 1979.51 1029.52 1968.1 1237.51 1912.37Z"
        stroke="url(#paint0_angular_105_3973)"
        stroke-width="200"></path>
    </g>
    <g filter="url(#filter1_f_105_3973)">
      <path
        d="M1237.5 1912.37C1445.49 1856.64 1627.73 1764.6 1753.75 1656.32C1873.74 1553.23 1969.95 1409.4 1928.98 1256.53C1888.02 1103.65 1732.79 1027.2 1577.33 997.913C1414.05 967.153 1210.21 978.565 1002.22 1034.29C794.23 1090.03 611.99 1182.06 485.969 1290.34C365.978 1393.44 269.768 1537.26 310.732 1690.14C351.695 1843.01 506.927 1919.46 662.39 1948.75C825.665 1979.51 1029.51 1968.1 1237.5 1912.37Z"
        stroke="url(#paint1_angular_105_3973)"
        stroke-width="200"></path>
    </g>
    <g filter="url(#filter2_f_105_3973)">
      <path
        d="M1712.85 732.642C1557.47 577.258 1383.78 459.382 1223.35 397.991C1143.32 367.365 1059.84 348.215 979.876 350.377C898.824 352.568 812.724 377.414 746.224 443.914C679.724 510.414 654.878 596.514 652.687 677.566C650.525 757.535 669.675 841.01 700.301 921.04C761.692 1081.47 879.568 1255.16 1034.95 1410.54C1190.34 1565.92 1364.03 1683.8 1524.45 1745.19C1604.48 1775.82 1687.96 1794.97 1767.93 1792.8C1848.98 1790.61 1935.08 1765.77 2001.58 1699.27C2068.08 1632.77 2092.92 1546.67 2095.11 1465.62C2097.28 1385.65 2078.13 1302.17 2047.5 1222.14C1986.11 1061.72 1868.23 888.027 1712.85 732.642Z"
        stroke="url(#paint2_angular_105_3973)"
        stroke-width="300"></path>
    </g>
    <g style="mix-blend-mode:overlay" filter="url(#filter3_f_105_3973)">
      <path
        d="M1458.52 1971.59C1666.51 1915.86 1848.75 1823.82 1974.77 1715.55C2094.76 1612.45 2190.97 1468.63 2150.01 1315.75C2109.04 1162.87 1953.81 1086.42 1798.35 1057.14C1635.07 1026.38 1431.23 1037.79 1223.24 1093.52C1015.25 1149.25 833.013 1241.29 706.993 1349.56C587.002 1452.66 490.792 1596.48 531.755 1749.36C572.719 1902.24 727.95 1978.69 883.413 2007.97C1046.69 2038.73 1250.53 2027.32 1458.52 1971.59Z"
        stroke="url(#paint3_angular_105_3973)"
        stroke-width="200"></path>
    </g>
    <defs>
      <filter
        id="filter0_f_105_3973"
        x="0.924927"
        y="681.187"
        width="2237.88"
        height="1584.29"
        filterUnits="userSpaceOnUse"
        color-interpolation-filters="sRGB">
        <feFlood flood-opacity="0" result="BackgroundImageFix"></feFlood>
        <feBlend
          mode="normal"
          in="SourceGraphic"
          in2="BackgroundImageFix"
          result="shape"></feBlend>
        <feGaussianBlur
          stdDeviation="100"
          result="effect1_foregroundBlur_105_3973"></feGaussianBlur>
      </filter>
      <filter
        id="filter1_f_105_3973"
        x="180.917"
        y="861.187"
        width="1877.88"
        height="1224.29"
        filterUnits="userSpaceOnUse"
        color-interpolation-filters="sRGB">
        <feFlood flood-opacity="0" result="BackgroundImageFix"></feFlood>
        <feBlend
          mode="normal"
          in="SourceGraphic"
          in2="BackgroundImageFix"
          result="shape"></feBlend>
        <feGaussianBlur
          stdDeviation="10"
          result="effect1_foregroundBlur_105_3973"></feGaussianBlur>
      </filter>
      <filter
        id="filter2_f_105_3973"
        x="302.521"
        y="0.211243"
        width="2142.76"
        height="2142.76"
        filterUnits="userSpaceOnUse"
        color-interpolation-filters="sRGB">
        <feFlood flood-opacity="0" result="BackgroundImageFix"></feFlood>
        <feBlend
          mode="normal"
          in="SourceGraphic"
          in2="BackgroundImageFix"
          result="shape"></feBlend>
        <feGaussianBlur
          stdDeviation="100"
          result="effect1_foregroundBlur_105_3973"></feGaussianBlur>
      </filter>
      <filter
        id="filter3_f_105_3973"
        x="221.94"
        y="740.411"
        width="2237.88"
        height="1584.29"
        filterUnits="userSpaceOnUse"
        color-interpolation-filters="sRGB">
        <feFlood flood-opacity="0" result="BackgroundImageFix"></feFlood>
        <feBlend
          mode="normal"
          in="SourceGraphic"
          in2="BackgroundImageFix"
          result="shape"></feBlend>
        <feGaussianBlur
          stdDeviation="100"
          result="effect1_foregroundBlur_105_3973"></feGaussianBlur>
      </filter>
      <radialGradient
        id="paint0_angular_105_3973"
        cx="0"
        cy="0"
        r="1"
        gradientUnits="userSpaceOnUse"
        gradientTransform="translate(1106.45 1480.26) rotate(10.669) scale(825.88 644.884)">
        <stop stop-color="#B8F1FE"></stop>
        <stop offset="0.475245" stop-color="#B6AFFF"></stop>
        <stop offset="0.848958" stop-color="#B8F1FE"></stop>
      </radialGradient>
      <radialGradient
        id="paint1_angular_105_3973"
        cx="0"
        cy="0"
        r="1"
        gradientUnits="userSpaceOnUse"
        gradientTransform="translate(1106.44 1480.26) rotate(10.669) scale(825.88 644.884)">
        <stop stop-color="#B8F1FE"></stop>
        <stop offset="0.475245" stop-color="#B6AFFF"></stop>
        <stop offset="0.848958" stop-color="#B8F1FE"></stop>
      </radialGradient>
      <radialGradient
        id="paint2_angular_105_3973"
        cx="0"
        cy="0"
        r="1"
        gradientUnits="userSpaceOnUse"
        gradientTransform="translate(1386.45 1079.91) rotate(-110.941) scale(815.196 606.936)">
        <stop stop-color="#B8F1FE"></stop>
        <stop offset="0.475245" stop-color="#B6AFFF"></stop>
        <stop offset="0.848958" stop-color="#B8F1FE"></stop>
      </radialGradient>
      <radialGradient
        id="paint3_angular_105_3973"
        cx="0"
        cy="0"
        r="1"
        gradientUnits="userSpaceOnUse"
        gradientTransform="translate(1327.46 1539.49) rotate(10.669) scale(825.88 644.884)">
        <stop stop-color="#B8F1FE"></stop>
        <stop offset="0.475245" stop-color="#B6AFFF"></stop>
        <stop offset="0.848958" stop-color="#B8F1FE"></stop>
      </radialGradient>
    </defs>
  </svg>

  <div
    class="whitespace-nowrap items-baseline pt-24 lg:pt-72 pb-4 text-white overflow-hidden relative">
    <div class="w-full justify-between grid">
      <div
        class="absolute inset-0 from-black left-0 via-black/80 w-48 z-10 bg-gradient-to-r">
      </div><div
        class="absolute inset-0 from-black left-0 via-black/80 w-48 z-10 bg-gradient-to-l ml-auto">
      </div>
    </div>
    <h1
      class="font-semibold tracking-tighter font-serif animate-marquee text-6xl lg:text-14xl">
      <em>welcome to hemingway blog</em>
    </h1>
    <h1
      class="font-medium tracking-tighter uppercase animate-marquee2 text-white text-6xl lg:text-10xl">
      welcome to hemingway blog
    </h1>
  </div>
</section>
