<section>
  <div class="p-8 text-zinc-700 text-xs flex flex-col w-full">
    <div class="max-w-2xl">
      <div>
        <h1 class="font-medium text-zinc-700 uppercase">
          Frequent questions and answers
        </h1>
      </div>
      <div class="prose-styles">
        <h2>Who was Ernest Hemingway?</h2>
        <p>
          Ernest Hemingway was a famous American author and journalist known for
          his simple and direct writing style. He was born in 1899 in Oak Park,
          Illinois.
        </p>
        <h2>What are some of his notable works?</h2>
        <p>
          Hemingway's most famous works include "The Old Man and the Sea," "A
          Farewell to Arms," "For Whom the Bell Tolls," and "The Sun Also
          Rises."
        </p>
        <h2>What was his writing style like?</h2>
        <p>
          Hemingway's writing style was characterized by its simplicity and
          clarity. He preferred short, straightforward sentences and often wrote
          in a way that felt like he was having a conversation with the reader.
        </p>
        <h2>What were some of the major themes in his writing?</h2>
        <p>
          Hemingway's works often explored themes of courage, masculinity, and
          the human condition. His experiences as a journalist and in war
          greatly influenced these themes.
        </p>
        <h2>Did Ernest Hemingway receive any awards for his writing?</h2>
        <p>
          Yes, indeed. Hemingway was awarded the Nobel Prize in Literature for
          his significant contributions to literature.
        </p>
      </div>
    </div>
  </div>
</section>
