---
interface Props {
  variant?: "standard" | "standardPaddingless"; // Define any variants you need
  class?: string; // Optional prop for additional classes
}
const { variant = "standard", class: extraClass = "" } = Astro.props;
// Map each variant to its specific classes
const variantClasses = {
  standard: "max-w-screen  2xl:max-w-400   mx-auto px-8 lg:px-8",
  standardPaddingless: "max-w-screen",
};
// Combine the classes for the specified variant with any extra classes
const classes = `${variantClasses[variant]} ${extraClass}`.trim();
---

<div class={classes}>
  <slot />
</div>
