<section>
  <div class="p-8 text-zinc-700 text-xs flex flex-col w-full">
    <div class="grid gird-cols-1 lg:grid-cols-2 gap-12">
      <a href="/" class="font-medium hover:text-accent-600">Ernest Hemingway</a>

      <div class="flex flex-col lg:ml-auto">
        <a class="hover:text-accent-600" href="/">Overview</a><a
          class="hover:text-accent-600"
          href="/system/style-guide">StyleGuide</a
        >
        <a class="hover:text-accent-600" href="https://lexingtonthemes.lemonsqueezy.com/checkout/buy/ec4dba6c-b32d-4990-9e08-d7cc7024349d">Buy Hemingway</a>
      </div>
    </div>
  </div>
</section>
